.AdvancedContainerContent {
    display: flex;
    flex-direction: column;
    transition: margin-top 0.3s ease;
    overflow-x: hidden;
    overflow-y: hidden;
}
.GenresTitle{
    font-size:24px; 
   
}
.MUS-BlockGenre{
    margin-top:15px; 
}
.selected {
    background-color: green;
}

.LeftSide label {
    display: block;
}

.LeftSide {
    margin-top:5px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

    .LeftSide > div {
        flex: 1;
    }

    .LeftSide select {
        background-color: #333;
        color: white;
        border-color: #333;
    }

.MUS-tag-title {
    font-size: 16px;
}

input[type="search"].SearchAuthorClass,
input[type="search"].SearchArtistClass,
input[type="search"].SearchVoiceActorClass {
    background-color: #333;
    color: white;
    border-color: #333;
}

#tagInput,
#negativeTagInput {
    background-color: #333;
    color: white;
    border-color: #333;
}

#negativeSelectedTagsList .selected-tag-item {
    background-color: red;
    font-size: 16px;
    border-radius: 2px;
    margin-bottom: 2px;
    padding: 2px;
    margin-right: 2px;
}

#selectedTagsList .selected-tag-item {
    background-color: rgb(255, 103, 64);
    font-size: 16px;
    border-radius: 2px;
    margin-bottom: 2px;
    padding: 2px;
    margin-right: 2px;
}

input[type="text"], input[type="checkbox"] {
    position: sticky;
}

.MUS-tag {
    margin: auto; /* Center the tags */
}

.Mus-Tag-Divider {
    width: 100%;
    min-width: 320px;
    flex-grow: 1
}

.MUS-tag-alignment-container {
    display: flex;
    justify-content: center;
    align-items: baseline; /* Added this line */
}

#negativeSelectedTagsList .selected-tag-item,
#selectedTagsList .selected-tag-item {
    display: inline-block;
    /* rest of your existing CSS */
}

    #negativeSelectedTagsList .selected-tag-item:hover,
    #selectedTagsList .selected-tag-item:hover {
        cursor: pointer;
        filter: brightness(0.8);
    }

.MUS-tag-alignment-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

#selectedTagsSection, #negativeSelectedTagsSection {
    flex: 1;
}

input[type="checkbox"].positive + label {
    background-color: #ff6740 !important;
}

input[type="checkbox"].negative + label {
    background-color: red !important;
}

#selectedTagsSection {
    margin-top: 20px;
    font-size: 16px;
    width: 100%;
}

.MUS-tag-genre-item:hover, .MUS-negative-tag-genre-item:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Add your desired darker shade here */
}

.MUS-hidden-checkbox, .MUS-hidden-checkbox {
    display: none;
}

.MUS-tag-genre-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .MUS-tag-genre-item.selected {
        background-color: blue;
    }

.MUS-negative-tag-genre-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .MUS-negative-tag-genre-item.selected {
        background-color: blue;
    }

.MUS-dropdown, .MUS-negative-dropdown {
    position: relative;
}

.MUS-dropdown-content, .MUS-negative-dropdown-content {
    position: absolute;
    z-index: 100;
    width: 200px;
    max-height: 50vh;
    overflow-y: auto;
    background-color: #f9f9f9;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    color: black;
}

.MUS-tag-label, .MUS-negative-tag-label {
    flex-grow: 1;
    text-align: left;
}

.MUS-genre-container {
    margin: 15px 0;
    border-radius: 5px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.MUS-genre-container,
.MUS-genre,
.MUS-genre label,
.MUS-hidden-checkbox {
    cursor: pointer;
}

.MUS-genre {
    display: inline-block;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
}

    .MUS-genre label {
        padding: 10px 20px;
        margin: 0;
        display: inline-block;
        position: relative;
        z-index: 1;
        border-radius: 5px;
    }

        .MUS-genre label:hover {
            border-radius: 0px;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

    .MUS-genre::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

.btn-custom-primary-Search {
    display: flex;
    color: #fff;
    background-color: #ff6740;
    border-color: #ff6740;
    padding: 0.375rem 0.75rem; /* Adjust this padding if needed */
    font-size: 20px; /* Match the font size with LongerInputField */
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}

.Row1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 16px;
    margin-top: 5%;
}

.Row3 {
    margin-top: 10px;
}

.CalendarIcon input[type="date"]::-webkit-inner-spin-button,
.CalendarIcon input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.CalendarIcon input[type="date"]::-webkit-clear-button {
    display: none;
}

.CalendarIcon input[type="date"] {
    -webkit-appearance: none;
    background: url('your-calendar-icon-path') no-repeat;
    background-size: contain;
    width: 1.5em;
    height: 1.5em;
}

.MUS-cardFourOfaKind {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.MUS-description {
    flex: 1;
    overflow: auto;
}

.MUS-FourofKindContent {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.MUS-FourOfAKind {
    flex: 0 0 calc(25% - 10px); /* Four items per row, subtracting padding */
    max-height: 450px !important;
    min-height: 320px !important;
    min-width: 300px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    transition: width 0.5s, height 0.5s;
}

.NumberContainer {
    height: 200px;
}

.MUS-FourOfAKind .MUS-FourofKindContent h2 {
    flex: 0;
}

.MUS-FourOfAKind img {
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.MUS-FourOfAKind .MUS-FourofKindContent {
    width: 70%;
    height: 100%;
    padding-left: 10px;
}

.MUS-CardFour {
    flex: 0 0 calc(25% - 1em); /* 4 cards per row */
    margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    transition: width 0.5s, height 0.5s;
    flex-grow: 1;
}

.MUS-HideWhenHoverFourOfaKind {
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.MUS-FourofKindContent:hover .MUS-HideWhenHoverFourOfaKind {
    display: none;
}

.MUS-DisplayWhenHoverFourOfaKind {
    display: none !important;
    z-index: 2;
    position: relative;
}

.MUS-InfoContainer,
.MUS-Score {
    z-index: 3;
    position: relative;
}

.MUS-FourofKindContent:hover .MUS-DisplayWhenHoverFourOfaKind,
.MUS-FourofKindContent:hover .MUS-InfoContainer,
.MUS-FourofKindContent:hover .MUS-Score {
    display: block !important;
}

.MUS-BoxImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: width 0.5s, height 0.5s;
}

.MUS-ContentDescription {
    display: flex;
    margin-right: auto;
    padding-top: 1%;
    width: 100%;
    transition: width 0.5s, height 0.5s;
}

.IndexTextRightSide h5,
.IndexTextRightSide h6,
.IndexTextRightSide .MUS-tag {
    display: inline-block;
}

.MUS-tag {
    display: block; /* Changed from inline-block to block */
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 5px;
    border-radius: 3px;
    color: #ff6740;
}

.MUS-genre label {
    font-size: 20px;
    background-color: #333;
    height: 26px;
}

.MUS-negative-dropdown:focus-within .MUS-negative-dropdown-content, .MUS-dropdown:focus-within .MUS-dropdown-content {
    display: block;
}

.MUS-ANoneStyle {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

    .MUS-ANoneStyle:hover {
        border-top: solid;
        border-bottom: solid;
        border-color: #ff6740;
    }

/* Mobile */
@media (max-width: 480px) {
    .MUS-CardFour {
        flex: 0 0 calc(100% - 1em); /* 1 card per row */
    }

    .MUS-FourOfAKind {
        flex-direction: row;
        flex: 0 0 50%;
        flex-grow: 1;
        width: 100%;
    }

    .MUS-BoxImage {
        width: 40%;
        height: 100%;
    }

    .MUS-FourofKindContent {
        width: 60%;
        height: 100%;
    }
}

.MUS-tag-container {
    display: block;
}

    .MUS-tag-container h5 {
        margin-bottom: 0;
    }

    .MUS-tag-container h6 {
        margin-top: 0;
    }

@media (max-width: 1200px) {
    .MUS-BoxOne.hide-on-medium {
        display: none;
    }
}

@media (max-width: 900px) {
    .MUS-tag-container {
        font-size: 12.5px;
    }
}

@media (max-width: 599px) {
    .MUS-ContentDescription {
        padding-top: 4.5%;
    }
}

@media only screen and (max-width: 1200px) {
    .AdvancedContainerContent {
        margin-top: 8.5%;
    }
}

@media only screen and (max-width: 1000px) {
    .AdvancedContainerContent {
        margin-top: 12.5%;
    }
}

@media only screen and (max-width: 800px) {
    .AdvancedContainerContent {
        margin-top: 16%;
    }
}

@media only screen and (max-width: 600px) {
    .AdvancedContainerContent {
        margin-top: 18%;
    }
}
/* Mobile */
@media (max-width: 480px) {
    .MUS-genre {
        flex-direction: column;
    }

    .MUS-genre-container {
        margin-left: 0;
        margin-right: 0;
    }

    .btn-custom-primary-Search {
        margin-right: 0%;
        margin-left: 0%;
        width: 100%
    }

    .MUS-tag-alignment-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}