.MoreRecentUpdateStyle {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    background-color: #333;
    color: #fff;
}

    .MoreRecentUpdateStyle:hover {
        background-color: #ff6740;
        color: black;
    }

.MoreUpdatContainer {
    margin-top: 3.5%;
    transition: margin-top 0.3s ease;
}

@media only screen and (max-width: 1200px) {
    .MoreUpdatContainer {
        margin-top: 8.5%;
    }
}

@media only screen and (max-width: 1000px) {
    .MoreUpdatContainer {
        margin-top: 12.5%;
    }
}

@media only screen and (max-width: 800px) {
    .MoreUpdatContainer {
        margin-top: 16%;
    }
}

@media only screen and (max-width: 600px) {
    .MoreUpdatContainer {
        margin-top: 18%;
    }
}

.MUS-cardFourOfaKind {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.MUS-FourOfAKind {
    flex: 1 0 25%;
    max-height: 33.33%;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    transition: width 0.5s, height 0.5s;
    overflow: hidden;
    max-height: calc(100% - 10px);
}

.MUS-FourofKindContent {
    z-index: 1;
    position: relative;
}

.MUS-FourOfAKind img {
    height: 100%;
    width: 30%;
    object-fit: cover;
}

.MUS-FourOfAKind .MUS-FourofKindContent {
    width: 70%;
    height: 100%;
    padding-left: 10px;
}

.MUS-CardFour {
    flex: 0 0 calc(25% - 1em); /* 4 cards per row */
    margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    transition: width 0.5s, height 0.5s;
    flex-grow: 1;
}

.MUS-HideWhenHoverFourOfaKind {
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.MUS-FourofKindContent:hover .MUS-HideWhenHoverFourOfaKind {
    display: none;
}

.MUS-DisplayWhenHoverFourOfaKind {
    display: none !important;
    z-index: 2;
    position: relative;
}

.MUS-InfoContainer,
.MUS-Score {
    z-index: 3;
    position: relative;
}

.MUS-ANoneStyle {
    min-height: 190px;
}

.MUS-FourofKindContent:hover .MUS-DisplayWhenHoverFourOfaKind,
.MUS-FourofKindContent:hover .MUS-InfoContainer,
.MUS-FourofKindContent:hover .MUS-Score {
    display: block !important;
}

.MUS-BoxImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: width 0.5s, height 0.5s;
}

.MUS-ContentDescription {
    display: flex;
    margin-right: auto;
    padding-top: 1%;
    width: 100%;
    transition: width 0.5s, height 0.5s;
}

.IndexTextRightSide h5,
.IndexTextRightSide h6,
.IndexTextRightSide .MUS-tag {
    display: inline-block;
}

.MUS-tag {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 5px;
    border-radius: 3px;
    color: #ff6740;
    white-space: nowrap; /* Ensures no line breaks within text */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display ... for hidden overflow */
    max-width: 100%;
}

.MUS-ANoneStyle {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    border-top: solid transparent;
    border-bottom: solid transparent;
}

    .MUS-ANoneStyle:hover {
        border-top: solid;
        border-bottom: solid;
        border-color: #ff6740;
    }

/* Mobile */
@media (max-width: 480px) {
    .MUS-CardFour {
        flex: 0 0 calc(100% - 1em); /* 1 card per row */
    }
}

@media (max-width: 1200px) {
    .MUS-BoxOne.hide-on-medium {
        display: none;
    }

    .MUS-FourOfAKind {
        flex: 1 0 33.33%; /* 3 boxes per row at widths <= 1200px */
        max-height: 50%; /* 2 rows at widths <= 1200px */
    }
}

@media (max-width: 900px) {
    .MUS-FourOfAKind {
        flex: 1 0 50%; /* 2 boxes per row at widths <= 900px */
        max-height: 50%; /* 2 rows at widths <= 900px */
    }

    .MUS-tag-container {
        font-size: 12.5px;
    }
}

.MUS-tag-container {
    display: block;
    padding: 3px 6px;
    align-content: center;
    display: flex;
    align-self: flex-start;
    width: 100%;
    font-size: 15px;
    max-height: 50px;
}

.MUS-InfoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items horizontally */
    flex-wrap: nowrap; /* Prevent wrapping */
    width: 100%; /* Ensure it takes full width of the parent */
}

.MUS-Score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    margin-top: 4%;
    color: #ff6740;
    font-size: 14px;
    white-space: nowrap;
    width: 100%; /* Adjusted width */
    padding: 0 10px;
}

    .MUS-Score i {
        font-size: 16px;
    }

.MUS-tag-container {
    display: block;
}

    .MUS-tag-container h5 {
        margin-bottom: 0;
    }

    .MUS-tag-container h6 {
        margin-top: 0;
    }

@media (max-width: 599px) {
    .MUS-FourOfAKind {
        flex: 1 0 100%; /* 1 box per row at widths <= 599px */
        max-height: 100%; /* 1 row at widths <= 599px */
    }

    .MUS-ContentDescription {
        padding-top: 4.5%;
    }
}