body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: Lato !important;
    font-weight: 800 !important;
    line-height: normal;
    font-size: 12px;
    color: whitesmoke;
    text-align: center;
    background-color: #191a1c;
    overflow-x: hidden;
}

input {
    outline: none
}

ul {
    list-style: none;
}

.row {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin: 0px !important;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    color: inherit;
}

.container-custom {
    min-height: 100vh;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr auto;
    grid-template-areas:
        "nav nav nav nav"
        "main main main main";
    grid-gap: 0.3rem;
    font-weight: 800;
    font-size: 12px;
    color: whitesmoke;
    text-align: center;
}

main {
    grid-area: main;
}

#NovelTitle {
    color: white;
    padding-right: 30px;
    font-size: 32px;
 
   
}

    #NovelTitle:hover {
        color: orangered;
    }

.main-content {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 12.5% 50% 12.5%;
    grid-template-areas:
        "Content1Ex   Content1Ex   Content1Ex   Content1Ex"
        "Content1Cost Content1Cost Content1Cost Content1Cost"
        "Content2Cost Content2Cost Content2Cost Content2Cost"
        "Content3Cost Content3Cost Content3Cost Content3Cost"
        "Content4Cost Content4Cost Content4Cost Content4Cost";
    font-weight: 800;
    font-size: 12px;
    color: whitesmoke;
    text-align: center;
}

.custom-O-navbar {
    grid-area: nav;
    background-color: #191a1c;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    height: 65px;
    border-bottom: 1px solid orangered;
}

    .custom-O-navbar .top-scroll {
        border-bottom: none;
    }

a {
    list-style: none;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    width: 100%;
}

@media (max-width: 680px) {
    .custom-O-navbar h3 {
        font-size: 15px;
    }

    #NovelTitle {
        color: white;
        padding-right: 5px;
        font-size: 28px;
    }

    .searchbar {
        width: 100px;
        padding: 0.3rem;
    }

    .sidebar-toggle {
        padding: 0.3rem 0.6rem;
        margin-right: 0.5rem;
    }

    .BoxOne {
        width: calc(50% - 20px);
        margin: 10px;
    }
}

.custom-O-navbar.hidden {
    visibility: hidden;
}

.LayoutXButtonNoBackground {
    background-color: #333 !important;
    border-radius: 25px;
   
}

    .LayoutXButtonNoBackground:hover {
        background-color: #191a1c !important;
        border-radius: 25px;
    }
/* Login STARTS HERE*/

.btn-custom-primary-login-forgott {
    display: inline-block;
    color: #fff;
    background-color: orangered;
    border-color: orangered;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    height: 50px;
    margin-top: 15px;
}

    .btn-custom-primary-login-forgott:hover {
        background-color: #E12700;
        border-color: #E12700;
    }

.LoginRememberMehoverOrangeRed:hover {
    color: orangered;
}

.LoginForgottRegiSolidBorder {
    border-top: solid 5px orangered;
    border-bottom: solid 45px rgb(51, 51, 51);
    box-shadow: 5px 10px 8px black;
    border-radius: 5px;
}

.ForgottPasswordReturnback {
    display: flex;
    color: orangered;
    width: 30%;
    border-radius: 5px;
}

    .ForgottPasswordReturnback:hover {
        color: white;
    }

.LoginForgotRegiContainer {
    height: 550px;
    background-color: #191a1c;
    width: 30%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.specialButtonLoginForgotRegi {
    width: 100% !important;
}

.LoginForgotRegiGroup {
    margin: 10px;
}

.textOrangeRedForgottenPassword {
    color: orangered;
    font-size: 16px;
    margin-left: 20%;
}

    .textOrangeRedForgottenPassword:hover {
        color: white;
    }

.LongerInput {
    width: 400px;
    font-size: 15px;
}

.LongerInputField {
    font-size: 20px; /* Change this value to make the label higher or longer */
    width: 100%;
    background-color: #444;
    color: white;
}

.LoginRegisterAnchor {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center; /* This will center your text vertically */
    color: orangered;
    font-size: 15px;
    height: 30px
}

    .LoginRegisterAnchor:hover {
        color: white;
    }

.LargeLoginSize {
    margin: 30px;
    margin-top: 130px;
}

.centralContentCost {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.LowBackGroundForLoginForgotRegi {
    background-color: rgb(51, 51, 51);
    display: flex;
    width: 100% !important;
    padding: 0;
    margin: 0;
    height: 10px;
}

.MassLoginForgottRegiAlignContent {
    margin-top: 12%;
}
/* Login Ends HERE*/
/* SIDEbar STARTS HERE*/
.sidebar-toggle {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
}

    .sidebar-toggle:hover {
        cursor: pointer;
        background-color: transparent;
        color: orangered;
        border: none;
        border-radius: 3px;
        padding: 0.5rem 1rem;
    }

.searchbar {
    flex: 250px; /* Adjust the width as desired */
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    background-color: #444; /* Slightly lighter than the navbar background */
    color: white; /* Make the text color white */
}

.main-content > div {
    background-color: #191a1c;
}

.Custom-o-sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s;
    padding: 1rem;
    z-index: 200;
    overflow-y: auto;
}

    .Custom-o-sidebar.open {
        left: 0;
    }

    .Custom-o-sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

#logo {
    color: orangered;
    font-size: 22px;
    margin-right:20px; 
}

    #logo:hover {
        color: white;
        font-size: 22px;
    }

.Custom-o-sidebar li {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 8px;
}

.Custom-o-sidebar a {
    color: white;
    text-decoration: none;
}

.Custom-o-sidebar li.active a {
    color: orange;
}

.Custom-o-sidebar li:hover a {
    color: #ccc;
}

@media (min-width: 769px) {
    .Custom-o-sidebar li:hover a {
        color: orangered;
    }
}
/* SIDEbar ENDS STARTS HERE*/

@media (max-width: 768px) {
    .container-custom {
        grid-template-columns: 1fr
    }

    .main-content {
        grid-template-columns: 1fr;
    }
}

.Content1Ex {
    width: 100%;
    margin-bottom: 40px
}

.Content1Cost {
    background-color: #191a1c;
    grid-area: Content1Cost;
    min-height: 1000px;
    max-height: 1400px;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.Content2Cost {
    background-color: #191a1c;
    grid-area: Content2Cost;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 1rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.Content3Cost {
    background-color: #191a1c;
    grid-area: Content3Cost;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding: 1rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.Content4Cost {
    background-color: #191a1c;
    grid-area: Content4Cost;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding: 1rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.ContentDescription {
    display: flex;
    margin-right: auto;
    padding-top: 1%;
    width: 100%;
}

.mb-3 .btn {
    color: white;
    transition: background-color 0.3s; /* transition effect */
}

.Author_Artist:hover {
    color:orangered; 
}
.HoverEffektLi a {
    display: block;
    margin: 10px;
    padding-left: 10px;
}

    .HoverEffektLi a:hover {
        background-color: #191a1c;
        border-style: solid;
        border-color: orangered;
        transition: background-color 0.3s;
    }

.mb-3 .btn:hover {
    background-color: #FF6347; /* color when hovered */
}


@media (max-width: 680px) {
    .RemoveWhenSmall {
        display: none;
    }

    .Content1Cost {
        gap: 10px !important;
    }

    .card-img-index {
        max-width: 150px !important;
    }

    .card-title {
        font-size: 15px !important;
    }

    .card-img-index {
        margin: 10px !important;
    }

   

    .MiniCards > div {
        flex-basis: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 1400px) {
    .RemoveWhenLarge {
        font-size: 10px;
    }

    .MiniCards > div {
        flex: 5%;
        flex-direction: column;
        margin-bottom: 10px;
        flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {
    .RemoveWhenMedium {
        display: none;
    }
}

.IndexTextRightSide {
    text-align: left;
    flex: 1; /* This allows the text to take up the remaining space */
}

.tag-container {
    display: block;
   
}

    .tag-container h5 {
        margin-bottom: 0;
    }

    .tag-container h6 {
        margin-top: 0;
    }

.IndexTextRightSide h5,
.IndexTextRightSide h6,
.IndexTextRightSide .tag {
    display: inline-block;
}

/* carousel-inner ENDS HERE */

/* TAGS/GENRE STARTS */
.tag-container {
    display: block;
    padding: 3px 6px;
    align-content: center;
    display: flex;
    align-self: flex-start;
    width: 100%;
}

.tag {
    background-color: rgba(0, 0, 0, 0.1); /* Add a slightly darker background */
    padding: 2px 5px; /* Add padding around the text */
    border-radius: 3px; /* Add rounded corners to the background */
    color: orangered; /* Change the text color to OrangeRed */
  
}

.TitleTagDescriptionCostum {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.Index_Artist_Author_Navigation_Arrows {
    width: 100%;
    display: flex;
    margin-top: auto;
    align-items: center;
}

.IndexArrowPostition {
    margin: 20px;
}

.card-description {
    overflow: clip;
    width: 100%;
    flex-basis: 40px;
    flex-shrink: 0;
    font-size:19px; 
}

.card-ex {
    position: relative;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
}

.card-image-ex {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.IndexArrowEx {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px; /* optional: adjust as needed */
}



.MidExTop {
    width: 70%;
    height: 120px;
    position: absolute;
    background-color: orangered;
    margin-top: 255px;
    border-style: solid;
    border-radius: 10px;
    border-color: #191a1c;
    display: flex;
    align-content: center;
    align-items: stretch;
}

.CardBody-Ex {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.card-description-Ex {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    border-right: solid;
    border-color: #191a1c;
    color: #191a1c;
    font-size: 20px;
}

.noBorderStyle {
    border-right: none !important;
}

.card {
    width: 100%;
    height: 320px;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    margin-bottom: 50px;
}

.card-title {
    width: 100%;
    display: flex;
}

.card-title-extra-style:hover {
    color:orangered;
}

.card-img-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: blur(25px);
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    background: #1f3d4738;
    border-radius: 15px;
    display: flex;
    color: white;
    align-items: flex-start;
}

.card-img-index {
    min-width: 100px; /* Min width */
    max-width: 200px; /* Max width */
    min-height: 300px; /* Min height */
    max-height: 350px; /* Max height */
    object-fit: cover;
    margin: 30px;
    flex-shrink: 0;
    border-radius: 20px;
    align-self: center;
}

.IndexArrowPostition {
    margin-left: auto;
    flex-shrink: 0;
}
/* INDEX CARD TOP ENDS HERE*/
/* MINICARDS STARTS HERE*/

.MiniCards {
    background-color: rgb(25, 26, 28);
    flex-grow: 1;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    gap: 8px;
}

.BoxContent {
    height: 100%;
    width: 100%;
    color: green;
}

.BoxImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.BoxOne {
    flex: 1;
    margin: 0;
}

@media (max-width: 1200px) {
    .BoxOne.hide-on-medium {
        display: none;
    }

    .LoginForgotRegiContainer {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .LoginForgotRegiContainer {
        width: 60% !important;
    }
}

@media (max-width: 599px) {
    .BoxOne.hide-on-small {
        display: none;
    }

    .ContentDescription {
        padding-top: 4.5%;
    }

    .LoginForgotRegiContainer {
        width: 100% !important;
    }
}

/* MINICARDS ENDS HERE*/
/* Card2 Starts HERE*/
.card-2-bodyDetails {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    color: white;
    align-items: flex-start;
}

/* CurrentMangaPage Starts HERE*/
/* Book Starts HERE*/
.book-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.book-title {
    grid-column: 1 / 3; /* span both columns */
    /* Add your styles here */
}

.book-img {
    /* Add your styles here */
}

.book-container-details {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.book-detail {
    display: flex;
    flex-direction: column;
}

.book-detail-title {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Ends Ends HERE*/
/* CurrentMangaPage Ends HERE*/
/* Book Starts HERE*/
.author-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.author-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-author {
    padding: 10px 20px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

    .add-author:hover {
        background-color: #00796b;
    }
/* AuthorStyle Ends HERE*/
/* ICONS start HERE*/

.gg-arrow-left-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 4px;
    background-color: transparent;
    margin: 10px;
    --ggs: 2;
}

    .gg-arrow-left-r::after,
    .gg-arrow-left-r::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 4px
    }

    .gg-arrow-left-r::after {
        width: 6px;
        height: 6px;
        border-bottom: 2px solid;
        border-left: 2px solid;
        transform: rotate(45deg);
        bottom: 6px
    }

    .gg-arrow-left-r::before {
        width: 10px;
        height: 2px;
        bottom: 8px;
        background: currentColor
    }

.gg-arrow-right-r {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid;
    transform: scale(var(--ggs,1));
    border-radius: 4px;
    margin: 10px;
    --ggs: 2;
}

    .gg-arrow-right-r::after,
    .gg-arrow-right-r::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        right: 4px
    }

    .gg-arrow-right-r::after {
        width: 6px;
        height: 6px;
        border-top: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
        bottom: 6px
    }

    .gg-arrow-right-r::before {
        width: 10px;
        height: 2px;
        bottom: 8px;
        background: currentColor
    }
.IndexArrowsPrev, .IndexArrowsNext {
    background: none;
    border: none;
    font-size: 2rem; /* adjust as needed */
    cursor: pointer;
    margin: 10px 0; /* Adjust as needed */
}
    .IndexArrowsPrev:hover {
        background-color: orangered;
        border-radius: 10px;
        border:20px;
    }
    .IndexArrowsNext:hover {
        background-color: orangered;
        border-radius: 10px;
        border: 20px;
    }
.gg-menu-round {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border-radius: 24px;
    border: 2px solid;
    --ggs: 1.5;
}

    .gg-menu-round::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 2px;
        background: currentColor;
        border-radius: 3px;
        top: 4px;
        left: 4px;
        box-shadow: 0 4px 0, 0 8px 0
    }
.gg-minimize {
    box-sizing: border-box;
    position: relative;
    justify-content:center; 
    align-self:center; 
    display:flex; 
    margin-bottom:5px; 
    display: block;
    transform: scale(var(--ggs,1));
    width: 4px;
    height: 4px;
    box-shadow: -8px -4px 0 -1px, -6px -4px 0 -1px, 8px 4px 0 -1px, 6px 4px 0 -1px, 8px -4px 0 -1px, 6px -4px 0 -1px, -8px 4px 0 -1px, -6px 4px 0 -1px
}

    .gg-minimize::after,
    .gg-minimize::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 2px;
        height: 18px;
        border-top: 6px solid;
        border-bottom: 6px solid;
        box-shadow: 18px 0 0 -2px;
        top: -7px
    }

    .gg-minimize::after {
        left: -3px
    }

    .gg-minimize::before {
        right: -3px
    }
/* ICONS End HERE*/
