.UPI-container {
    width: 100%;
    margin: auto;
    padding: 10px;
    text-align: center;
   
}

.UPI-header {
    position: relative;
    margin-top:5em; 
}

.UPI-userPhoto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px auto;
}

.UPI-userName {
    font-size: 20px;
    font-weight: bold;
}

.UPI-description {
    font-size: 14px;
    color: grey;
    margin-bottom: 20px;
}

.UPI-userDetails {
    margin-bottom: 20px;
}

.UPI-blockBtn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.UPI-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.UPI-item {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.UPI-moreBtn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
}

.UPI-bookList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjusts the items spacing */
    max-width: 670px; /* Adjust based on the total width of two items and gap */
}

.UPI-listItem {
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    position: relative;
}

    .UPI-listItem span {
        position: absolute;
        bottom: 0; /* Position at the bottom of the item */
        left: 0;
        width: 100%; /* Span the full width of the item */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        color: white; /* Text color */
        text-align: center;
        padding: 5px 0; /* Padding for top and bottom */
        font-size: 14px; /* Adjust font size as needed */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; /* In case the text is too long */
    }

    .UPI-listItem img {
        width: 100%; /* Set width to fill container */
        height: 100%; /* Set height to fill container */
        object-fit: cover;
    }

.UPI-listContainer {
    text-align: center; /* Center the title */
}

.UPI-listTitle {
    margin-bottom: 2px; /* Spacing between title and list */
}

.UPI-listItem span {
    margin-top: 5px; /* Spacing between image and text */
    text-align: center; /* Center the text */
}

@media (max-width: 768px) {
    .UPI-bookList {
        flex-direction: row;
        overflow-x: auto;
    }
}
@media (min-width: 1300px) {
    .UPI-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .UPI-listContainer {
        width: 48%; /* Adjust the width for side-by-side layout */
        margin-bottom: 20px; /* Spacing between rows of lists */
    }

    .UPI-bookList {
        max-width: 100%; /* Allow book list to fill container */
    }
}
@media (max-width: 1299px) {
    .UPI-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Center the list containers */
    }

    .UPI-listContainer {
     
        margin-bottom: 20px; /* Spacing between each list container */
    }
}
@media (max-width: 619px){
    .UPI-listItem {
        width: 150px;
        height: 150px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2.5px;
        position: relative;
    }
    .UPI-bookList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; /* Adjusts the items spacing */
        max-width: 335px; /* Adjust based on the total width of two items and gap */
    }
}