@page
@model NovelXManga.Pages.MangaUpdates.UpdatePhotoModel
@{
}

<link rel="stylesheet" href="~/css/UpdatesStyle.css" asp-append-version="true" />
<h3>Update Photo</h3>

<form method="post" class="photo-update-form" enctype="multipart/form-data">
    <img src="@Model.mangaModelUpdate.PhotoPath" class="photo-preview" alt="Image" />
    <div class="form-group">
        <label for="Photo" class="form-label"></label>
        <br />
        <input type="file" id="Photo" name="Photo" class="file-input" />
        <label for="Photo" class="file-label">Click here to add photo</label>
        <span id="Photo-error" class="error-text"></span>
    </div>
    <input type="hidden" name="mangaModel.MangaID" value="@Model.mangaModelUpdate.MangaID" />
    <button type="submit" class="update-button">Update</button>
    <a href="/Index" class="back-button">Back</a>
</form>
