@page
@model NovelXManga.Pages.CharacterPage.CurrentCharacterModel
@inject UserManager<UserModel> UserManager
@inject SignInManager<UserModel> SignInManager
@{
    var user = await UserManager.GetUserAsync(User);
    var UpdaterUser = user != null && await UserManager.IsInRoleAsync(user, "NormalUser");

}
<div class="parent-div">
    <div class="Content1Ex HiddenOverflowContent1Ex">


        <div class="card-ex">
            <div class="card-image-ex">

                <div class="blurredbackground ">
                    <p class="Author_Artist_Characters"> hello WORLDhello hello WORLDhello hello WORLDhello hello WORLDhello  </p>
                    <img class="BoxImage blurimage SpecialBox" src="/Images/GeneratedCharacterImage/@Model.CurrentCharacter.PhotoPath" />
                  
                </div>

                <div class="manga-img-container">
                    <!-- Manga image goes here -->
                    @if (@Model.CurrentCharacter.PhotoPath != string.Empty)
                    {
                        <div>
                            @if (UpdaterUser)
                            {
                                <a asp-page="/MangaUpdates/UpdatePhoto" asp-route-id="@Model.CurrentCharacter.CharacterId">
                                    <img class="manga-img" asp-append-version="true" src="~/Images/GeneratedCharacterImage/@Model.CurrentCharacter.PhotoPath" alt="NoImage">
                                </a>
                            }
                            else
                            {
                                <img class="manga-img" asp-append-version="true" src="~/Images/GeneratedCharacterImage/@Model.CurrentCharacter.PhotoPath" alt="NoImage">
                            }

                        </div>
                    }
                    else
                    {
                        <img class="manga-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png" alt="BookImage">
                    }
                </div>
                <div class="manga-title">
                    <!-- Manga title goes here -->
                    @if (@Model.CurrentCharacter.CharacterName != null)
                    {
                        <h1 class="FontSizeCurrentBook">@Model.CurrentCharacter.CharacterName</h1>
                    }
                </div>



            </div>

        </div>

    </div>
</div>
<div class="Content1Cost">


</div>