@page
@model NovelXManga.Pages.UserInteractions.UserSettingsPageModel

@{
    ViewData["Title"] = "User Settings";
}


<link rel="stylesheet" href="~/css/UserSettingStyleSheet.css" asp-append-version="true" />

<div class="USI-body USI-MarginNavbar ">


    <h2>User Settings</h2>

    <form method="post" class="USI-form">
        <div class="form-group">
            <label>Show Mature Content</label>
            <input type="checkbox" asp-for="UserSettings.ShowMatureContent" />
        </div>
        <div class="wrapper">
            <div class="toggle">
                <input type="checkbox" asp-for="UserSettings.DarkModeEnabled" class="toggle-input" />

                <div class="toggle-bg"></div>
                <div class="toggle-switch">
                    <div class="toggle-switch-figure"></div>
                    <div class="toggle-switch-figureAlt"></div>
                </div>
            </div>
        </div>
        <!-- Repeat for other settings as needed -->

        <button type="submit" class="btn btn-primary">Save Settings</button>
    </form>
</div>


<script src="~/js/UserSettings.JavaScript.js" asp-append-version="true"></script>