@page
@model NovelXManga.Pages.UserInteractions.UserProfileModel
@{
  
}
<link rel="stylesheet" href="~/css/UserProfile.css" asp-append-version="true" />

<div class="CUS-Content1Cost">
    hello world
<div class="UPI-container">
    <div class="UPI-header">
        <img src="{{userPhotoPath}}" alt="User Photo" class="UPI-userPhoto">
        <div class="UPI-userDetails">
            <div class="UPI-userName">{{Allias}} - {{ForumName}}</div>
            <div class="UPI-description">{{Description}}</div>
        </div>
        <button class="UPI-blockBtn">Block User</button>
    </div>

    <!-- Reviews List -->
    <div class="UPI-list">
        <!-- Dynamic items here -->
    </div>
    <button class="UPI-moreBtn">More</button>

    <!-- Similar structure for MangaList, ReadingList, etc. -->

    </div>
</div>