@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Otaku Library</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
 

</head>
<body>
    <div class="container-custom">

        <nav class="custom-O-navbar">
            <div class="navbar-right">
                <a asp-page="/Index"><h3 id="NovelTitle"> OtakuLibrary</h3></a>
                <button id="sidebar-toggle" onclick="handleSidebarToggle()" class="sidebar-toggle"><i class="gg-menu-round"></i></button>
            </div>
            <div class="navbar-left">  <input type="search" id="searchbar" class="searchbar" placeholder="Search"> </div>
            <hr class="TheOrangeLine"/>
        </nav>
        <main class="main-content">
            @RenderBody()
        </main>
    </div>
    <div class="Custom-o-sidebar">
        <div>
            <div>
                <a href="/">
                    <span id="logo">OtakuLibrary   </span>
                </a>
                <button id="sidebar-toggle" onclick="handleSidebarToggle()" class="sidebar-toggle LayoutXButtonNoBackground"><i class="gg-minimize"></i></button>
            </div>
          
            <hr>
            @if (SignInManager.IsSignedIn(User))
            {
                <ul>
                <li class="HoverEffektLi">
                    <a href="#"> <span>Latest Updates</span>  </a>
                </li>
                    <li class="HoverEffektLi">
                    <a asp-page="/Author/CreateAuthor"> <span>AuthorTest</span>  </a>
                </li>
                    <li class="HoverEffektLi">
                    <a asp-page="/Manga/CreateNewManga"> <span>Create New Book</span>  </a>
                </li>
                </ul>              
                <hr/>
                <ul>
                    <li class="HoverEffektLi">
                    <a href="#"> <span>Forum</span> </a>
                </li>
                    <li class="HoverEffektLi">
                        <a href="#"><span>Groups</span> </a>
                </li>
                    <li class="HoverEffektLi">
                    <a href="#">  <span>Users</span> </a>
                </li>
                    <li class="HoverEffektLi">
                    <a href="#"> <span>Latest Updates</span>  </a>
                </li>
                    <li class="HoverEffektLi">
                    <a asp-page="/Author/CreateAuthor"> <span>AuthorTest</span>  </a>
                </li>
                    <li class="HoverEffektLi">
                    <a asp-page="/Manga/CreateNewManga"> <span>Create New Book</span>  </a>
                </li>
             </ul>
             <hr />
             <ul>
                    <li class="HoverEffektLi">
                    <a href="#"> <span>About us</span> </a>
                </li>
                    <li class="HoverEffektLi">
                    <a href="#"> <span>Rules</span> </a>
                </li>
                    <li class="HoverEffektLi">
                    <a href="#"> <span>Privacy Policy</span> </a>
                </li>
                    <li class="HoverEffektLi">
                    <a href="#"> <span>Announcment</span> </a>
                </li>

                </ul>
                <hr>
                <div>
                    <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img asp-append-version="true" src="https://www.w3schools.com/images/w3schools_green.jpg" alt="" width="30" height="30">
                        <span>Profile</span>
                    </a>
                    <ul >
                        <li class="HoverEffektLi"><a id="log" asp-page="/profile/UserProfile">User</a></li>
                        <li>
                            <hr>
                        </li>
                        <li class="HoverEffektLi"><a asp-page="/Login/LogOut">Sign out</a></li>
                    </ul>
                </div>
            }
            else
            {
                <ul>
                    <li class="HoverEffektLi">
                                <a asp-page="/MangaTry/Test" > <span class=""> TEST Recently Added</span>  </a>
                            </li>
                    <li class="HoverEffektLi">
                                <a href="#" > <span >Latest Updates</span>  </a>
                            </li>
                    <li class="HoverEffektLi">

                        <a href="#"> <span>AuthorTest</span>  </a>
                            </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/Login/LoginIndex">
                           <span >Login</span>
                        </a>
                    </li>
                    <li class="HoverEffektLi">
                        <a asp-page="/Register/UserRegister" >
                           <span>Register</span>
                        </a>
                    </li>
                    <li class="HoverEffektLi">
                                <a href="#"> <span>Forum</span> </a>
                            </li>
                    <li class="HoverEffektLi">
                                <a href="#" > <span>Groups</span> </a>
                            </li>
                    <li class="HoverEffektLi">
                                <a href="#"> <span>About us</span> </a>
                            </li>
                    <li class="HoverEffektLi">
                                <a href="#" > <span >Rules</span> </a>
                            </li>
                    <li class="HoverEffektLi">
                                <a href="#"> <span >Privacy Policy</span> </a>
                            </li>
                    <li class="HoverEffektLi">
                                <a href="#"> <span >Announcment</span> </a>
                            </li>
                </ul>
            }
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

    <script src="~/js/site.js" asp-append-version="true"></script>
   


    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>