@page
@model NovelXManga.Pages.InfoPages.AboutUsModel
@{
    ViewData["Title"] = "About Us - OtakuLibrary";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="banner-aboutpage">
    <div class="BackgroundShader">


    <div class="content-container-aboutpage">
        <h1 class="banner-title-aboutpage">Welcome to OtakuLibrary</h1>
        <p class="banner-text-aboutpage">Your one-stop online library for Manga, Manhwa, Books, Comics, and more.</p>
        <div class="info-section-aboutpage">
            <h2 class="info-title-aboutpage">About Us</h2>
            <p class="info-text-aboutpage">We at OtakuLibrary aim to deliver a seamless reading experience for all the bibliophiles out there. Whether you're a fan of Manga, Manhwa, general books or Comics, we have got you covered.</p>
        </div>
        <form class="contact-form">
            <input type="email" id="contact-email" name="contact-email" placeholder="Your email" required>
                <button id="btn">
                 Send
                </button>
        </form>
        <div class="social-icons">
                <a href="#" class="fa fa-facebook" alt="Facebook"></a>
                <a href="#" class="fa fa-twitter" alt="Twitter"></a>
                <a href="#" class="fa fa-youtube" alt="YouTube"></a>
                <a href="#" class="fa fa-instagram" alt="Instagram"></a>
        </div>
    </div>
    </div>
  </div>
