@page
@model NovelXManga.Pages.Manga.Create_new_MangaModel
@{
    //var photoPath = "/images/" + (@Model.mangaModel.PhotoPath ?? "NoPhoto.png");
 
    }
<div class="container mt-5">
 <h3>@Model.SucessFulManga</h3>
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-1g-4">
            <form method=post enctype="multipart/form-data">
                <input hidden asp-for="mangaModelView.MangaID" />
                <input hidden asp-for="mangaModelView.BlogModel" />
                <input hidden asp-for="mangaModelView.BlogModelId" />
         

             
                <div class="mb-3">
                    <label class="form-label" asp-for="mangaModelView.MangaName">Manga Title</label>
                    <input type="text" asp-for="mangaModelView.MangaName" class="form-control" />
                    <span asp-validation-for="mangaModelView.MangaName" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="mangaModelView.AssociatedNames"> Associated Names </label>
                    <input type="text" asp-for="mangaModelView.AssociatedNames" class="form-control" />
                    <span asp-validation-for="mangaModelView.AssociatedNames" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="mangaModelView.Description">Description</label>
                    <input type="text" asp-for="mangaModelView.Description" class="form-control" />
                    <span asp-validation-for="mangaModelView.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="ReleaseYear">Year Released</label>
                    <input type="datetime" asp-for="ReleaseYear" class="form-control" />
                </div>
                <div class="form-group row">
                    <label asp-for="Photo" class="col-sm-2 col-form-label"></label>  <br />
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="Photo" clas="custom-file-input form-control" />
                            <label class="custom-file-label">Click here to change photo</label>
                            <span asp-validation-for="Photo" class="text-danger"></span>

                        </div>

                    </div>
                </div>
                <br />
                <br />
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Save Manga / Novel </button>
                </div>
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    })
                </script>
            </form>

        </div>
    </div>
</div> 