@page
@model NovelXManga.Pages.Manga.CurrentMangaModel
@{
}

<div> Hello world </div>

<partial name="/Pages/Shared/_DisplayMangaModelModelPartialc.cshtml" model="@Model.CurrentManga" view-data="ViewData" />