@page
@model NovelXManga.Pages.Login.ForgottPasswordsModel
@{
}
<h1> Forgot Password</h1>

<div class="row">
    <div class="cold-md-4">
        @if(Model.SentEmail =! null){
            <p>@Model.SentEmail</p>
        }
        else
        {
            <form asp-action="ForgottPassword">
                <div asp-validation-summary=ModelOnly class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.ForgottPasswordModel" class="control-label"></label>
                    <input asp-for="@Model.ForgottPasswordModel" class="form-control"> 
                    <span asp-validation-for="ForgottPasswordModel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            </form>
        }
    </div>
</div>
<div>
    <a asp-action="LoginIndex" asp-page="Login">Login</a>
</div>