@page
@model NovelXManga.Pages.Login.ForgotPasswordModel
@{
}

<link rel="stylesheet" href="~/css/LoginRegi.css" asp-append-version="true" />


<div class="centralContentCost ">
    <div class="FamilyLoginRegiContainer">
        <div class="leftLogRegoContainer">
            <img class="BoxImageLogiRegi SpecialBox" src="/Images/GeneratedMangaImage/@Model.AllBooksList[1].PhotoPath" />
        </div>
        <div class="rightLogiRegiContainer LoginForgottRegiSolidBorder ">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

                <div class="LoginForgotRegiGroup LargeLoginSize MassAlignContent">
                    <h1>Enter your email adress</h1>
                    <label class="LongerInput" asp-for="@Model.forgotPasswordModel.Email">Email Adress</label>
                    <input class="LongerInputField" type="email" asp-for="forgotPasswordModel.Email" />
                    <span asp-validation-for="forgotPasswordModel.Email" placeholder="Email"></span>

                    <a asp-page="/Index" class="ForgottPasswordReturnback"><p> Return back</p></a>

                    <div class="LoginForgotRegiGroup ">
                        <div class="specialButton">
                            <br />
                            <button type="submit" class="btn btn-custom-primary-login-forgott">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
