@page
@model NovelXManga.Pages.Login.ForgotPasswordModel
@{
}




<div class="Content1Cost centralContentCost MassAlignContent">



    <div class="LoginForgotRegiContainer LoginForgottRegiSolidBorder">
        <form asp-route-returnurl="@ViewData["ReturnUrl"] method="post">
            <div class="LoginForgotRegiGroup">
                <h1>Enter your email adress </h1>
            </div>
            <div class="LoginForgotRegiGroup LargeLoginSize">




                <label class="LongerInput" asp-for="@Model.forgotPasswordModel.Email">Email Adress</label>
                <input class="LongerInputField" type="email" asp-for="forgotPasswordModel.Email" />
                <span asp-validation-for="forgotPasswordModel.Email" placeholder="Email"></span>

                <a asp-page="/Index" class="ForgottPasswordReturnback"><p> Return back</p></a>


            </div>

            <div class="LoginForgotRegiGroup ">
                <div class="specialButton">
             
                    <button type="submit" class="btn  btn-custom-primary-login-forgott">Submit</button>
                </div>
            </div>
        </form>

    </div>

</div>

