
@page
@inject SignInManager<UserModel> SignInManager
@model NovelXManga.Pages.Login.LoginIndexModel
@{
    ViewBag.Title = "User Login";
    var returnUrl = Model.ReturnUrl; 
   }


<link rel="stylesheet" href="~/css/LoginRegi.css" asp-append-version="true" />

<div class="centralContentCost ">
    <div class="FamilyLoginRegiContainer">
        <div class="leftLogRegoContainer" id="bookDetails">

            <div class="radio-buttons-container">
                @for (int i = 0; i < 10; i++)
                {
                    <input type="radio" name="bookRadio" id="bookRadio@i" data-index="@i"
                           onclick="switchBook(this)" @(i == 0 ? "checked" : "") />
                }
            </div>
                @if (Model.AllBooksList.Any())
                {
                <img class="BoxImageLogiRegi SpecialBox" src="~/Images/GeneratedMangaImage/@Model.AllBooksList[0].PhotoPath" alt="Manga Cover" />
                  
                }
           
          
        </div>
        <div class="rightLogiRegiContainer LoginForgottRegiSolidBorder">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="backgroundColorForSmallerScreens">
                <div class="LoginForgotRegiGroup LargeLoginSize MassAlignContent">
                    <h1>Sign in to continue on Otaku Library</h1>
                    <div class="">
                        <label class="LongerInput" asp-for="LoginModel.Email">Email Address</label><br />
                        <input class="LongerInputField" type="email" asp-for="LoginModel.Email" />
                        <span asp-validation-for="LoginModel.Email" class="text-danger"></span>
                    </div>
                    <br />
                    <div >
                        <label class="LongerInput" asp-for="LoginModel.Password">Password</label><br />
                        <input class="LongerInputField" type="password" asp-for="LoginModel.Password" />
                        <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="LoginForgotRegiGroup ">
                       
                            <input type="checkbox" asp-for="LoginModel.RememberMe" />
                            <label class="LoginRememberMehoverOrangeRed" asp-for="LoginModel.RememberMe">Remember Me</label>
                            <a class="btn textOrangeRedForgottenPassword" asp-area="" asp-page="/Login/ForgotPassword">Forgot Password</a>
                            <br />
                            <button type="submit" class="btn btn-custom-primary-login-forgott">Login</button>
                   
                    </div>
                    <div class="LoginForgotRegiGroup ">
                        <a asp-page="/Register/UserRegister" class="LoginRegisterAnchor"><p>Register new account</p></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    var books = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.AllBooksList, new Newtonsoft.Json.JsonSerializerSettings
        {
        ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
        }));
</script>
<script src="~/js/CycklingBooksForLoginRegiForg.js" asp-append-version="true"></script>