
@page
@inject SignInManager<UserModel> SignInManager
@model NovelXManga.Pages.Login.LoginIndexModel
@{
    ViewBag.Title = "User Login";
    var returnUrl = Model.ReturnUrl; 
   }



<div class="Content1Cost centralContentCost">

    <h1>Otaku Library</h1>
  
    <div  asp-validation-summary="ModelOnly"></div>
    <div class="LoginForgotRegiContainer LoginForgottRegiSolidBorder">
        <form asp-route-returnurl="@ViewData["ReturnUrl"] method="post">
            <div class="LoginForgotRegiGroup">
                <h1>Sign in to continue on Otaku Library</h1>
            </div>
        <div class="LoginForgotRegiGroup LargeLoginSize">

           

               
                    <label hidden asp-for="@Model.ReturnUrl"> </label>
                    <div class="">
                    <label class="LongerInput" asp-for="LoginModel.Email">Email Adress</label> <br />
                    <input class="LongerInputField" type="text" asp-for="LoginModel.Email" />
                        <span asp-validation-for="LoginModel.Email" ></span>
                    </div>
                    <br />
                    <div >
                    <label class="LongerInput" asp-for="LoginModel.Password">Password</label><br />
                    <input class="LongerInputField" type="password" asp-for="LoginModel.Password" />
                        <span asp-validation-for="LoginModel.Password"></span>
                    </div>
                 
             
             
               
        </div>
  
            <div class="LoginForgotRegiGroup ">
                <div class="specialButton"><div>
                        <input type="checkbox" asp-for="LoginModel.RememberMe" />
                        <label class="LoginRememberMehoverOrangeRed" asp-for="LoginModel.RememberMe">Remember Me</label>
                        <a class="btn textOrangeRedForgottenPassword" asp-area="" asp-page="/Login/ForgotPassword">Forgot Password</a>
                </div>
                  
                    <br />
                    <button type="submit" class="btn btn-custom-primary-login-forgott">Login</button>
                </div>
            </div>
            <div class="LoginForgotRegiGroup ">
                <a asp-page="/Register/UserRegister" class="LoginRegisterAnchor"><p>Register new account</p></a>
            </div>

        </form>

    </div>
 
</div>


