@page
@model NovelXManga.Pages.Login.LogOutModel
@{
}

<div class="logout-container">
    <div class="MarginAutoLogOut">
        <form method="post" class="account-deletion-form">
            <h2 class="form-title">Are you sure you want to logout</h2>
            <p class="form-description">
                @User.Identity.Name
            </p>

            <button class="btn btn-custom-primary-login-Cancel" asp-page-handler="DontLogOut">Cancel</button>
            <button class="btn btn-custom-primary-login-Logout " asp-page-handler="Logout">Logout</button>
        </form>
    </div>
</div>

