@page
@model NovelXManga.Pages.Register.AuthorRegisterModel
@{
    //var photoPath = "/Images/AuthorImage/" + ( Model.Authormodel.userPhotoPath ?? "NoPhoto.png");
}




<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-1g-4">

            <h1>Register User</h1>
            <form method="post">
                <input hidden asp-for="Authormodel.userPhotoPath" />
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegiModel.Email">Email Adress</label>
                    <input type="email" asp-for="RegiModel.Email" class="form-control" />
                    <span asp-validation-for="RegiModel.Email" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Authormodel.FirstName">Name</label>
                    <input type="text" asp-for="Authormodel.FirstName" class="form-control" />
                    <span asp-validation-for="Authormodel.FirstName" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="Authormodel.LastName">Family Name</label>
                    <input type="text" asp-for="Authormodel.LastName" class="form-control" />
                    <span asp-validation-for="Authormodel.LastName" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegiModel.Password">Password</label>
                    <input type="password" asp-for="RegiModel.Password" class="form-control" />
                    <span asp-validation-for="RegiModel.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="RegiModel.ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="RegiModel.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="RegiModel.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <label asp-for="Photo" class="col-sm-2 col-form-label"></label>  <br />
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="Photo" clas="custom-file-input form-control" />
                            <label class="custom-file-label">Click here to change photo</label>

                        </div>

                    </div>
                </div>
         <br />
                <br />
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <!-- Edits the Path for our photos-->
                @section Scripts {
                    <script>
                        $(document).ready(function () {
                            $('.custom-file-input').on("change", function () {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).next('.custom-file-label').html(fileName);
                            });
                        })
                    </script>
                    <!-- client validation
                    <partial name="_ValidationScriptsPartial" />
                    -->
                }
            </form>
        </div>
    </div>
</div>

