@page
@model NovelXManga.Pages.Register.AuthorRegisterModel
@{
    //var photoPath = "/Images/AuthorImage/" + ( Model.Authormodel.userPhotoPath ?? "NoPhoto.png");
}




<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-1g-4">

            <h1>Register Author</h1>
            <form method="post">
                <input hidden asp-for="Authormodel.PhotoPath" />
                <input hidden asp-for="authorViewModel.creatorId" />
                <input hidden asp-for="authorViewModel.MangaID" />
                <input hidden asp-for="authorViewModel.mangaModel" />
                <input hidden asp-for="authorViewModel.AmountOfWork" />

                <div class="text-danger" asp-validation-summary="All"></div>
      
                <select asp-for="Creators" asp-items="Html.GetEnumSelectList<Model.Creators>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.FirstName">Name</label>
                    <input type="text" asp-for="authorViewModel.FirstName" class="form-control" />
                    <span asp-validation-for="authorViewModel.FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.LastName">Family name</label>
                    <input type="text" asp-for="authorViewModel.LastName" class="form-control" />
                    <span asp-validation-for="authorViewModel.LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.NameInNative">Name in native language</label>
                    <input type="text" asp-for="authorViewModel.NameInNative" class="form-control" />
                </div>
                <div class="textbox">
                    <label class="form-label" asp-for="authorViewModel.Biography">Biography</label>
                    <input type="text" asp-for="authorViewModel.Biography" class="form-control" />
         
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.reddit">Reddit Page</label>
                    <input type="text" asp-for="authorViewModel.reddit" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.Twitter">Twitter Page</label>
                    <input type="text" asp-for="authorViewModel.Twitter" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.Gender">Gender</label>
                    <input type="text" asp-for="authorViewModel.Gender" class="form-control" />             
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.AuthorBorn">´Year of Birth</label>
                    <input type="date" asp-for="authorViewModel.AuthorBorn" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.officalWebsite">Offical Website</label>
                    <input type="text" asp-for="authorViewModel.officalWebsite" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.lastUpdate">Last updated work</label>
                    <input type="date" asp-for="authorViewModel.lastUpdate" class="form-control" />
                </div>
                     <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.AuthorDeath">Death</label>
                    <input type="date" asp-for="authorViewModel.reddit" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.reddit">Reddit Page</label>
                    <input type="text" asp-for="authorViewModel.reddit" class="form-control" />
                </div>
                 <div class="mb-3">
                    <label class="form-label" asp-for="authorViewModel.reddit">Reddit Page</label>
                    <input type="text" asp-for="authorViewModel.reddit" class="form-control" />
                </div>
     
                <div class="form-group row">
                    <label asp-for="Photo" class="col-sm-2 col-form-label"></label>  <br />
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="Photo" clas="custom-file-input form-control" />
                            <label class="custom-file-label">Click here to change photo</label>

                        </div>

                    </div>
                </div>
         <br />
                <br />
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <!-- Edits the Path for our photos-->
                @section Scripts {
                    <script>
                        $(document).ready(function () {
                            $('.custom-file-input').on("change", function () {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).next('.custom-file-label').html(fileName);
                            });
                        })
                    </script>
                    <!-- client validation
                    <partial name="_ValidationScriptsPartial" />
                    -->
                }
            </form>
        </div>
    </div>
</div>

