@page
@model NovelXManga.Pages.Register.UserRegisterModel
@{
    //var photoPath = "/Images/AuthorImage/" + ( Model.Authormodel.userPhotoPath ?? "NoPhoto.png");
}




<div class="centralContentCost">

    <h1>Otaku Library</h1>

    <div asp-validation-summary="ModelOnly"></div>
    <div class="LoginForgotRegiContainer LoginForgottRegiSolidBorder">
        <form asp-route-returnurl="@ViewData["ReturnUrl"] method="post">
            <div class="LoginForgotRegiGroup">
                <h1>Register a new account to continue on Otaku Library</h1>
            </div>
            <div class="LoginForgotRegiGroup LargeLoginSize">




             
                <div class="">

                    <label class="LongerInput" asp-for="Model.Email">Email Adress</label><br />
                    <input class="LongerInputField type="email" asp-for="Model.Email" class="form-control" />
                    <span asp-validation-for="Model.Email" class="text-danger"></span>
                 
                </div>
                <br />
                <div>
                    <label class="LongerInput" asp-for="Model.Password">Password</label><br />
                    <input class="LongerInputField" type="password" asp-for="Model.Password" class="form-control" />
                    <span asp-validation-for="Model.Password" class="text-danger"></span>
            
                </div>
                <br />
                <div class="">
                    <label class="LongerInput" asp-for="Model.ConfirmPassword">ConfirmPassword</label><br />
                    <input class="LongerInputField" type="password" asp-for="Model.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Model.ConfirmPassword" class="text-danger"></span>

                </div>
                <br />




            </div>

            <div class="LoginForgotRegiGroup ">
                <div class="specialButton">
              

                    <br />
                    <button type="submit" class="btn btn-custom-primary-login-forgott">Register</button>
                </div>
            </div>
         

        </form>

    </div>

</div>

