@page
@model NovelXManga.Pages.Artist.CreateArtistModel
@{
}
<button id="addRowArtist" type="button" asp-for="Author" class="btn btn-info">Add New Author</button>
<form method="post" enctype="multipart/form-data">
   @* <input type="hidden" name="MangaID" value="@Model.MangaID" />*@
    <div id="newRowArtist">
        <input type="hidden" id="totalArtist" value="0" />
    </div>
    <input type="submit" class="btn btn-primary" value="Post" />
</form>